$GREY_50: #FAFAFA;
$GREY_100: #F5F5F5;
$GREY_200: #EEEEEE;
$GREY_300: #E0E0E0;
$GREY_400: #BDBDBD;
$GREY_500: #9E9E9E;
$GREY_600: #757575;
$GREY_700: #616161;
$GREY_800: #424242;
$GREY_900: #212121;

$COLOR_DANGER: #E53935;
$COLOR_SUCCESS: #00E676;
$COLOR_INFO: #00E5FF;
$COLOR_PRIMARY: #4a90e2;
$COLOR_ACCENT: #74ebd5;